<a href="https://colab.research.google.com/github/ykitaguchi77/manipulate_CSV/blob/master/DiseaseName_extraction1.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**病名を含むリストを抽出するスクリプト**
csvから特定の文字列を含む行を抜き出して保存

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import csv
import numpy as np
import os
import os.path
import sys
import glob
import pandas as pd
import codecs

byoumei=["甲状腺眼症", "バセドウ病眼症"]
csv_path = '/content/drive/MyDrive/Deep_learning/●DiseaseInfo_modified1.5_connected_9800.csv'
dst_folder = '/content/'

#各ファイルを開く　※codec errorを回避
#with codecs.open(csv_path, "r", "utf-8", "ignore") as file:
with codecs.open(csv_path, "r", "shift_jis", "ignore") as file:
    df = pd.read_csv(file, delimiter=",", header=None)
print(df)

#ファイル名設定のための前処理
byoumei_filename = byoumei[0]
j=1
for i in range(len(byoumei)-1):
    byoumei_filename = byoumei_filename + '.' + byoumei[j]
    j+=1
dst_path = dst_folder + "/Disease_extracted_" + byoumei_filename+ ".csv"

             0                                                  1    \
0            NaN                                                NaN
1     10766254.0  7b7ff7944838b598946fd28054c2427172961e2c517f36...
2     10779321.0  969180a37a6bb1369103ffc1d3964a5748492f8250daee...
3      7303291.0  4e301005ba628eb02bf02582bd87ca84a2cfad8fe41329...
4     10834793.0  6e3b7f9b84ffe4e592a4987601808efa25ad4a9d5d01c5...
...          ...                                                ...
9833  11613788.0  757069f15bc74739c51f5fe03167d51f594f4779017b2b...
9834   9055165.0  51e7f294b7b63f15864316bbaf5b701b43f0c11c18c9fd...
9835  11452681.0  f7345ccf09fe678c1ba8487d9a61e4bfc1658144b98ae9...
9836   6911048.0  23753e35a4b02c439e9adecab3d26887ba4729e07258fa...
9837  11587782.0  b3e8e6f86945cf4e67c8e473ff99a6ecadb99b5327f5f5...

             2               3     4       5    6    7          8    \
0     image_name             NaN   NaN     NaN  NaN  NaN        NaN
1            465  2014/2/13 0:00  37.0    Male  NaN  NaN  甲状腺眼症（軽症）
2           1020  2014/3/14 0:00  72.0  Female  NaN  NaN  甲状腺眼症（軽症）
3           1304  2014/8/28 0:00  45.0  Female  NaN  NaN  甲状腺眼症（軽症）
4           1396  2014/9/26 0:00  67.0    Male  NaN  NaN  甲状腺眼症（軽症）
...          ...             ...   ...     ...  ...  ...        ...
9833        9831             NaN  43.0  Female  NaN  NaN        NaN
9834        9832             NaN  50.0  Female  NaN  NaN        NaN
9835        9833             NaN  33.0    Male  NaN  NaN        NaN
9836        9834             NaN  27.0    Male  NaN  NaN        NaN
9837        9835             NaN  73.0    Male  NaN  NaN        NaN

               9    ...  131 132  133  134  135  136  137  138   139     140
0              NaN  ...  NaN NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN     NaN
1     活動期（ステロイドあり）  ...  NaN NaN  NaN  NaN  NaN  NaN  NaN   眼科  37.0    Male
2     活動期（ステロイドあり）  ...  NaN NaN  NaN  NaN  NaN  NaN  NaN   眼科  72.0  Female
3     活動期（ステロイドあり）  ...  NaN NaN  NaN  NaN  NaN  NaN  NaN   眼科  45.0  Female
4     活動期（ステロイドあり）  ...  NaN NaN  NaN  NaN  NaN  NaN  NaN   眼科  67.0    Male
...            ...  ...  ...  ..  ...  ...  ...  ...  ...  ...   ...     ...
9833           NaN  ...  NaN NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN     NaN
9834           NaN  ...  NaN NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN     NaN
9835           NaN  ...  NaN NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN     NaN
9836           NaN  ...  NaN NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN     NaN
9837           NaN  ...  NaN NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN     NaN

[9838 rows x 141 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,43,45,46,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,88,89,101,103,104,105,106,107,108,109,110,117,119,120,124,131,133,134,135,136,137) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#**病名を含むリストを抽出**

In [31]:
result_list=pd.DataFrame({}) #空のリストを定義

for i in byoumei:
    for j in range(df.shape[1]):  #それぞれの列に対して検索をかける
        extract = df[df[j].astype(str).str.contains(i, na=False)] #数字、naに関するエラーを回避
        result_list = result_list.append(extract)


#重複した行を削除
result_list = result_list[~result_list.duplicated()]
#番号順に並び替え
result_list[0] = result_list[0].astype('int') #0列目のIDを整数にする
result_list[2] = result_list[2].astype('int') #2列目の患者番号を整数にする
result_list = result_list.sort_values(2, ascending=True).reset_index(drop=True) #患者番号順に並べ変え

print(str(len(result_list))+"例抽出されました！")

result_list

510例抽出されました！

,0,1,2,3,4,5,6,7,8,9,...,131,132,133,134,135,136,137,138,139,140
0,11694405,12bbea9aab57dcfcaedc1e932bcccc8f50a6151ab5fae6...,17,2019/4/18 0:00,45.0,Female,NaN,NaN,甲状腺眼症（中等症以上）,不活動期,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,眼科,45.0,Female
1,11436965,c0f84d3f3de9def58713ba1d8a1b28d550443bd1a1ddc0...,19,2017/11/7 0:00,61.0,Female,NaN,NaN,甲状腺眼症（中等症以上）,活動期（ステロイドあり）,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,眼科,61.0,Female
2,11246787,5dbd6489bb70f9cc92fd4ac68545e226c380c872104926...,24,2016/10/6 0:00,25.0,Female,NaN,NaN,甲状腺眼症（軽症）,活動期（ステロイドなし）,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,眼科,25.0,Female
3,11658251,d6ffb94d0207725e9d75dbf6e21cb8ab5811d1ea944a50...,36,2019/2/14 0:00,59.0,Female,NaN,NaN,甲状腺眼症（軽症）,活動期（ステロイドなし）,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,眼科,59.0,Female
4,8920054,926a9701009e391be74d2fc213d7baf8f979183cf88d7d...,57,2006/10/12 0:00,48.0,Female,NaN,カルテ廃棄済,甲状腺眼症（中等症以上）,活動期（ステロイドあり）,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,眼科,48.0,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,6259204,454e65b0a29f06b552773f8dec71b9c4075b8a072c5b2e...,9745,NaN,45.0,Female,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
506,9016888,1a70a02c68fe0f329cff32a5e9107008edfaaf0d0fd774...,9754,NaN,58.0,Male,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,8600201,7b464138e464cc3faa2d21cdb84d80875c67d810404ef0...,9761,NaN,54.0,Female,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508,6198278,0f00896c19dfccb565d0d0de1eef74359cfe81d60af64e...,9772,NaN,69.0,Female,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,11785043,c4def568a8d8bf33603fbff36220892799cc1a6963e35f...,9824,NaN,54.0,Male,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#**抽出したファイルを出力**

In [ ]:
list.to_csv(dst_path, encoding='utf_8_sig', index = False, header=False)